.nav-bar {
    background-color: var(--white);
    color: var(---black);
    padding: 2rem;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-bar p {
  border-left: 1rem solid var(--blue);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}