@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Krona+One&family=Kumbh+Sans:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --blue: hsl(167, 86%, 73%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --gray-bg: hsl(0, 0%, 78%);

  /* calculator */
  --bg-calculator: hsl(252, 5%, 19%);
  --primary: hsl(252, 5%, 19%);
  --secondary: hsl(180, 1%, 24%);
  --buttons: linear-gradient(0deg, rgba(96, 95, 96, 1) 0%, rgba(69, 67, 69, 1) 100%);
  --buttons-up: hsl(300, 1%, 69%);
  --opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

body {
  background-color: var(--light);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  border-bottom: 4px solid var(--blue);
}

section {
  height: 100vh;
  padding: 3rem;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  font-size: 4rem;
  font-weight: 700;
}

